body {
    font-family: 'Raleway', sans-serif;
}

/* NAVBAR */
.navbar-light {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 2rem;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 1.6rem;    
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-nav .nav-item {
    padding-right: 2rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.5s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #439fe6;
}

/* SLIDER */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center / cover;
}

.carousel-caption {
    bottom: 35%;
}

.carousel-caption h5 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.9;
}

/* CATEGORIES */
.bg-gray-100 {
    background: #eee !important;
}

.card-img-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: 3px;
    transition: all .3s;
}

.card-img-overlay:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* END CATEGORIES */

/* NEW ARRIVALS */
#new-arrivals {
    background: #eee;
}